{%extends 'base.html'%}
{% block title %} Lista de tarefas{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de tarefas</h1>
    <div class="col-2 add-div ">
        <i class="fas fa-plus"> Adicionar tarefa</i>
    </div>
    <div class="col-9 search-div">
        <input type="text" id="search" name="search" placeholder="Digite o nome da tarefa">
        <i class="fas fa-search"> Procurar</i>
        <ul class="tasklist">
            <li class="taskitem">
                <span>
                    Titulo da tarefa
                </span>
                <span> <i class="fas fa-trash"></i></span>

            </li>

        </ul>
    </div>
</div>
{% endblock %}